<div class="text-center">
  <img *ngIf="pokemon" [src]="pokemon.sprites.front_default" id="picture" />
</div>
<div class="table-responsive">
  <table class="table" *ngIf="pokemon">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Weight</th>
        <th>Height</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#{{pokemon.id}}</td>
        <td>{{pokemon.name | capitalLetter }}</td>
        <td>{{pokemon.types[0].type.name | capitalLetter }}</td>
        <td>{{pokemon.weight | divideByTen }}kg</td>
        <td>{{pokemon.height | divideByTen }}m</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row mt-3">
  <div class="col-md-12 text-center">
    <input type="number" class="text-center" min="1" max="150" id="txtNumber" />
  </div>
</div>
<div class="row error-message hide" id="error-message">
  <div class="col-md-12 text-center mt-1">
    <h3>Number must be between 1 and 150!</h3>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary" (click)="getId()">Get Pokémon</button>
  </div>
</div>
